@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --color-primary: #2563eb;
    --color-background-light: #f9fafb;
    --color-background-dark: #0f172a;
    --color-text-light: #0f172a;
    --color-text-dark: #f9fafb;
    
}


html {
    color-scheme: light dark;
}


body {
    background-color: var(--color-background-light);
    color: var(--color-text-light);
    font-family: var(--font-sans);
}


.dark body {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
}